@font-face {
  font-family: "Jetbrains Mono";
  src: url("../assets/fonts/JetBrainsMonoNL-Regular.ttf") format("truetype");
}

*:not(span) {
  transition-duration: 250ms;
}

span {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.font-jetbrains-mono {
  font-family: "Jetbrains Mono", monospace;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 2008px;
  background: #10b981;
}

::selection {
  background-color: #ffffff20;
}
